@charset "UTF-8";
html,
body {
  box-shadow: none;
}

.ai-pd-container {
  position: relative;
}
@media screen and (min-width: 480px) {
  .ai-pd-container #inffits_cblock {
    margin: 0 !important;
    top: unset !important;
    right: unset !important;
    left: 1vw !important;
  }
}
.ai-pd-container .ai-pd-container__trigger {
  z-index: 9999;
  position: fixed;
  left: 12px;
  bottom: 12px;
  display: flex;
  box-sizing: border-box;
  padding: 14px;
  justify-content: center;
  margin: 0;
  align-items: center;
  flex-shrink: 0;
  border-radius: 21px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 0.5px 5px 0px rgba(0, 0, 0, 0.14), 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  border: none;
}
.ai-pd-container .ai-pd-container__trigger:hover, .ai-pd-container .ai-pd-container__trigger:active {
  cursor: pointer;
}
@media screen and (min-width: 480px) {
  .ai-pd-container .ai-pd-container__trigger {
    width: 70px;
    height: 70px;
    padding: 15px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    box-shadow: 0px 0.5px 5px 0px rgba(0, 0, 0, 0.18), 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    -webkit-backdrop-filter: blur(40px);
            backdrop-filter: blur(40px);
    --webkit-backdrop-filter: blur(40px);
  }
}
.ai-pd-container .ai-pd-container__trigger--search:not(.ai-pd-container__trigger--result):hover .ai-pd-container__icon, .ai-pd-container .ai-pd-container__trigger--search:not(.ai-pd-container__trigger--result):active .ai-pd-container__icon {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M25.4872 28.4127C31.4405 24.6273 33.1979 16.7326 29.4126 10.7794C25.6272 4.82615 17.7325 3.06872 11.7793 6.85405C5.82606 10.6394 4.06862 18.5341 7.85396 24.4873C11.6393 30.4406 19.534 32.198 25.4872 28.4127Z' fill='url(%23paint0_linear_842_3176)'/%3e%3cpath d='M18.6665 31.4583C26.4675 31.4583 32.7915 25.1343 32.7915 17.3333C32.7915 9.53223 26.4675 3.20825 18.6665 3.20825C10.8655 3.20825 4.5415 9.53223 4.5415 17.3333C4.5415 25.1343 10.8655 31.4583 18.6665 31.4583Z' stroke='black' stroke-width='4.25' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M35.25 36.5833L28 29.3333' stroke='black' stroke-width='4.25' stroke-linecap='round'/%3e%3cpath d='M27.4287 14.2856C25.2196 14.2856 23.4287 12.4948 23.4287 10.2856C23.4287 12.4948 21.6378 14.2856 19.4287 14.2856C21.6378 14.2856 23.4287 16.0765 23.4287 18.2856C23.4287 16.0765 25.2196 14.2856 27.4287 14.2856Z' fill='black' stroke='black' stroke-width='1.5' stroke-linecap='round'/%3e%3cdefs%3e%3clinearGradient id='paint0_linear_842_3176' x1='7.85396' y1='24.4873' x2='27.8071' y2='11.8002' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23F9FE9F'/%3e%3cstop offset='1' stop-color='%23CBE2E2'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}
.ai-pd-container .ai-pd-container__trigger--search:not(.ai-pd-container__trigger--result) .ai-pd-container__icon {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg id='Product Logo'%3e%3cpath id='Vector' d='M18.6665 31.4583C26.4675 31.4583 32.7915 25.1343 32.7915 17.3333C32.7915 9.53223 26.4675 3.20825 18.6665 3.20825C10.8655 3.20825 4.5415 9.53223 4.5415 17.3333C4.5415 25.1343 10.8655 31.4583 18.6665 31.4583Z' stroke='black' stroke-width='4.25' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath id='Vector_2' d='M35.25 36.5833L28 29.3333' stroke='black' stroke-width='4.25' stroke-linecap='round'/%3e%3cpath id='Vector_3' d='M27.4287 14.2856C25.2196 14.2856 23.4287 12.4948 23.4287 10.2856C23.4287 12.4948 21.6378 14.2856 19.4287 14.2856C21.6378 14.2856 23.4287 16.0765 23.4287 18.2856C23.4287 16.0765 25.2196 14.2856 27.4287 14.2856Z' fill='black' stroke='black' stroke-width='1.5' stroke-linecap='round'/%3e%3c/g%3e%3c/svg%3e ");
}
.ai-pd-container .ai-pd-container__trigger .ai-pd-container__icon--alert {
  display: none;
}
.ai-pd-container .ai-pd-container__trigger--result:not(.ai-pd-container__trigger--search) .ai-pd-container__icon {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M25.4872 28.4127C31.4405 24.6273 33.1979 16.7326 29.4126 10.7794C25.6272 4.82615 17.7325 3.06872 11.7793 6.85405C5.82606 10.6394 4.06862 18.5341 7.85396 24.4873C11.6393 30.4406 19.534 32.198 25.4872 28.4127Z' fill='url(%23paint0_linear_842_3176)'/%3e%3cpath d='M18.6665 31.4583C26.4675 31.4583 32.7915 25.1343 32.7915 17.3333C32.7915 9.53223 26.4675 3.20825 18.6665 3.20825C10.8655 3.20825 4.5415 9.53223 4.5415 17.3333C4.5415 25.1343 10.8655 31.4583 18.6665 31.4583Z' stroke='black' stroke-width='4.25' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M35.25 36.5833L28 29.3333' stroke='black' stroke-width='4.25' stroke-linecap='round'/%3e%3cpath d='M27.4287 14.2856C25.2196 14.2856 23.4287 12.4948 23.4287 10.2856C23.4287 12.4948 21.6378 14.2856 19.4287 14.2856C21.6378 14.2856 23.4287 16.0765 23.4287 18.2856C23.4287 16.0765 25.2196 14.2856 27.4287 14.2856Z' fill='black' stroke='black' stroke-width='1.5' stroke-linecap='round'/%3e%3cdefs%3e%3clinearGradient id='paint0_linear_842_3176' x1='7.85396' y1='24.4873' x2='27.8071' y2='11.8002' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23F9FE9F'/%3e%3cstop offset='1' stop-color='%23CBE2E2'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}
.ai-pd-container .ai-pd-container__trigger--result:not(.ai-pd-container__trigger--close) .ai-pd-container__icon {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg id='Product Logo'%3e%3cpath id='Vector' d='M18.6665 31.4583C26.4675 31.4583 32.7915 25.1343 32.7915 17.3333C32.7915 9.53223 26.4675 3.20825 18.6665 3.20825C10.8655 3.20825 4.5415 9.53223 4.5415 17.3333C4.5415 25.1343 10.8655 31.4583 18.6665 31.4583Z' stroke='black' stroke-width='4.25' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath id='Vector_2' d='M35.25 36.5833L28 29.3333' stroke='black' stroke-width='4.25' stroke-linecap='round'/%3e%3cpath id='Vector_3' d='M27.4287 14.2856C25.2196 14.2856 23.4287 12.4948 23.4287 10.2856C23.4287 12.4948 21.6378 14.2856 19.4287 14.2856C21.6378 14.2856 23.4287 16.0765 23.4287 18.2856C23.4287 16.0765 25.2196 14.2856 27.4287 14.2856Z' fill='black' stroke='black' stroke-width='1.5' stroke-linecap='round'/%3e%3c/g%3e%3c/svg%3e ");
}
.ai-pd-container .ai-pd-container__trigger--result .ai-pd-container__icon--alert {
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: -2px;
  right: -2px;
}
@media screen and (min-width: 480px) {
  .ai-pd-container .ai-pd-container__trigger--result .ai-pd-container__icon--alert {
    width: 20px;
    height: 20px;
  }
}
.ai-pd-container .ai-pd-container__trigger--close:not(.ai-pd-container__trigger--result) {
  background: rgba(255, 255, 255, 0.85);
  padding: 16px;
}
@media screen and (min-width: 480px) {
  .ai-pd-container .ai-pd-container__trigger--close:not(.ai-pd-container__trigger--result) {
    padding: 21px;
  }
}
.ai-pd-container .ai-pd-container__trigger--close:not(.ai-pd-container__trigger--result):hover .ai-pd-container__icon, .ai-pd-container .ai-pd-container__trigger--close:not(.ai-pd-container__trigger--result):active .ai-pd-container__icon {
  opacity: 1;
}
.ai-pd-container .ai-pd-container__trigger--close:not(.ai-pd-container__trigger--result) .ai-pd-container__icon {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg opacity='0.5'%3e%3cpath d='M15 5L5 15' stroke='%233B3B32' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M5 5L15 15' stroke='%233B3B32' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/g%3e%3c/svg%3e ");
  opacity: 0.5;
}
.ai-pd-container .ai-pd-container__trigger .ai-pd-container__icon {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  transition: opacity 0.3s ease-out;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -ms-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
}

#loadingbar_recom.mbinfo {
  width: 100%;
}
#loadingbar_recom.mbinfo .intro-modal__logo img {
  max-width: 106px;
}
@media screen and (min-width: 480px) {
  #loadingbar_recom.mbinfo .intro-modal__logo img {
    max-width: 135px;
  }
}

.intro-modal {
  position: relative;
  height: 70% !important;
}
.intro-modal .intro-content {
  margin: 0 !important;
  box-sizing: border-box;
  padding: 8px;
  width: 100% !important;
}
.intro-modal__logo {
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro-modal__logo img {
  width: 100%;
  max-width: 112px;
  height: auto;
}
.intro-modal__logo--inf {
  max-width: 80px;
}
@media screen and (min-width: 480px) {
  .intro-modal__logo img {
    max-width: 142px;
  }
  .intro-modal__logo--inf {
    max-width: 100px;
  }
}
.intro-modal__title {
  color: #3b3b32;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.64px;
  font-family: "Chocolate Classical Sans", "Figtree";
  padding-top: 16px;
  padding-bottom: 16px;
  margin: 0;
}
@media screen and (min-width: 480px) {
  .intro-modal__title {
    color: #333;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.64px;
  }
}
.intro-modal__btn--start {
  display: flex;
  height: 40px;
  padding: 10px 0;
  width: 150px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 100px !important;
  background: #1e1e19;
  color: #fcfcf8;
  text-align: center;
  font-family: "Noto Sans TC", "Figtree", sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 17px; /* 113.333% */
  letter-spacing: 0.9px;
  position: relative;
  transition: all 0.3s ease-in-out;
  white-space: nowrap;
}
.intro-modal__btn--start:hover {
  background-color: #3c3c39;
  cursor: pointer;
}
.intro-modal__btn--start .intro-modal__btn--arrow {
  position: absolute;
  right: 10px;
}
@media screen and (min-width: 480px) {
  .intro-modal__btn--start {
    height: 45px;
    font-size: 17px;
    line-height: 19px; /* 111.765% */
    letter-spacing: 0.85px;
  }
}
/* .intro-modal__btn--start:active {
  box-shadow: none;
  transform: translateY(3px);
}
@media screen and (min-width: 480px) {
  .intro-modal__btn--start:active {
    transform: translateY(4px);
  }
} */
.intro-modal__icon {
  margin: auto !important;
  margin-bottom: 24px !important;
  width: 98%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 0;
}
@media screen and (min-width: 480px) {
  .intro-modal__icon {
    width: 95%;
    margin-bottom: 12px !important;
  }
}
.intro-modal__icon--inffits,
.intro-modal__icon--reminder {
  position: relative;
}
.intro-modal__icon--inffits .icon-inffits{
  position: relative;
  background-color: #f3f3ef;
  border-radius: 100%;
  display: flex;
  width: 36px;
  height: 36px;
  padding: 7.88px;
  justify-content: center;
  align-items: center;
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2222%22%20height%3D%2222%22%20viewBox%3D%220%200%2022%2022%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20clip-path%3D%22url(%23clip0_3193_47382)%22%3E%3Cpath%20d%3D%22M6.17396%2012.4924C6.17396%2011.41%206.17396%2010.3891%206.17396%209.33034C7.19349%209.33034%208.21166%209.33034%209.25825%209.33034C9.26502%209.18692%209.27449%209.07935%209.27516%208.97111C9.27652%208.11733%209.30831%207.26152%209.26975%206.4091C9.14459%203.65698%2011.1464%201.6274%2013.4202%201.05438C16.0337%200.395443%2018.8304%201.59763%2019.9799%203.91C20.0692%204.08996%2020.1429%204.27736%2020.2451%204.50941C19.1396%204.85579%2018.0545%205.19608%2016.9463%205.54382C16.5729%204.82129%2015.962%204.46476%2015.1785%204.34907C13.8092%204.14679%2012.7214%205.06145%2012.7214%206.43277C12.7214%207.3542%2012.7227%208.27564%2012.7241%209.19707C12.7241%209.21871%2012.7315%209.24036%2012.7451%209.31411C13.2471%209.31411%2013.7599%209.31411%2014.2727%209.31411C14.778%209.31411%2015.2827%209.31411%2015.8097%209.31411C15.8097%2010.3735%2015.8097%2011.4107%2015.8097%2012.4735C14.7895%2012.4735%2013.7802%2012.4735%2012.7214%2012.4735C12.7214%2012.6162%2012.7214%2012.7346%2012.7214%2012.853C12.7214%2013.7744%2012.691%2014.6972%2012.7275%2015.6173C12.8276%2018.1502%2011.0734%2020.2055%208.80092%2020.8807C6.06301%2021.6946%203.09035%2020.4159%201.94837%2017.9236C1.8841%2017.7829%201.82998%2017.6367%201.75488%2017.4521C2.87251%2017.103%203.96848%2016.7606%205.05498%2016.4217C5.80525%2017.5414%206.9222%2017.9263%208.04185%2017.4629C8.82662%2017.1381%209.25419%2016.5428%209.2711%2015.6958C9.29208%2014.6411%209.27584%2013.5857%209.27584%2012.4931C8.24143%2012.4924%207.22393%2012.4924%206.17396%2012.4924Z%22%20fill%3D%22%23D7D7D6%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%22clip0_3193_47382%22%3E%3Crect%20width%3D%2220.25%22%20height%3D%2220.25%22%20fill%3D%22white%22%20transform%3D%22translate(0.875%200.875)%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.intro-modal__icon--reminder .icon-reminder {
  position: relative;
  background-color: #f3f3ef;
  border-radius: 100%;
  display: flex;
  width: 36px;
  height: 36px;
  padding: 7.88px;
  justify-content: center;
  align-items: center;
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2222%22%20height%3D%2222%22%20viewBox%3D%220%200%2022%2022%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20clip-path%3D%22url(%23clip0_3193_50941)%22%3E%3Cpath%20d%3D%22M15.1607%2010.7192C15.7303%209.90444%2016.0625%208.91172%2016.0625%207.83594C16.0625%205.0397%2013.7962%202.77344%2011%202.77344C8.20376%202.77344%205.9375%205.0397%205.9375%207.83594C5.9375%208.91172%206.26973%209.90444%206.83926%2010.7192C6.9856%2010.9288%207.15962%2011.1661%207.34551%2011.4192C7.85571%2012.1193%208.46479%2012.9578%208.91963%2013.7844C9.33096%2014.5358%209.54058%2015.3189%209.64341%2016.0585L7.71729%2016.0625C7.63027%2015.5879%207.48394%2015.1251%207.25059%2014.698C6.85903%2013.9861%206.37256%2013.3177%205.88608%2012.6493C5.68042%2012.3685%205.47476%2012.0876%205.277%2011.8029C4.49785%2010.6796%204.03906%209.31118%204.03906%207.83594C4.03906%203.9916%207.15566%200.875%2011%200.875C14.8443%200.875%2017.9609%203.9916%2017.9609%207.83594C17.9609%209.31118%2017.5021%2010.6796%2016.719%2011.8029C16.5213%2012.0876%2016.3156%2012.3685%2016.11%2012.6493C15.6235%2013.3137%2015.137%2013.9821%2014.7455%2014.698C14.5121%2015.1251%2014.3658%2015.5879%2014.2788%2016.0625H12.3566C12.4594%2015.3229%2012.669%2014.5358%2013.0804%2013.7883C13.5352%2012.9617%2014.1443%2012.1232%2014.6545%2011.4232C14.8404%2011.1701%2015.0104%2010.9328%2015.1568%2010.7231L15.1607%2010.7192ZM11%205.9375C9.9519%205.9375%209.10156%206.78784%209.10156%207.83594C9.10156%208.18398%208.8168%208.46875%208.46875%208.46875C8.1207%208.46875%207.83594%208.18398%207.83594%207.83594C7.83594%206.08779%209.25186%204.67188%2011%204.67188C11.348%204.67188%2011.6328%204.95664%2011.6328%205.30469C11.6328%205.65273%2011.348%205.9375%2011%205.9375ZM11%2021.125C9.25186%2021.125%207.83594%2019.7091%207.83594%2017.9609V17.3281H14.1641V17.9609C14.1641%2019.7091%2012.7481%2021.125%2011%2021.125Z%22%20fill%3D%22%23D7D7D6%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%22clip0_3193_50941%22%3E%3Crect%20width%3D%2220.25%22%20height%3D%2220.25%22%20fill%3D%22white%22%20transform%3D%22translate(0.875%200.875)%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.intro-modal__icon--inffits .icon-inffits:hover,
.intro-modal__icon--reminder .icon-reminder:hover {
  background-color: #e8e8e4;
}
.intro-modal__icon--inffits .icon-inffits:active
.intro-modal__icon--inffits .icon-inffits.open{
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2222%22%20height%3D%2222%22%20viewBox%3D%220%200%2022%2022%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20clip-path%3D%22url(%23clip0_3193_46362)%22%3E%3Cpath%20d%3D%22M6.17396%2012.4924C6.17396%2011.41%206.17396%2010.3891%206.17396%209.33034C7.19349%209.33034%208.21166%209.33034%209.25825%209.33034C9.26502%209.18692%209.27449%209.07935%209.27516%208.97111C9.27652%208.11733%209.30831%207.26152%209.26975%206.4091C9.14459%203.65698%2011.1464%201.6274%2013.4202%201.05438C16.0337%200.395443%2018.8304%201.59763%2019.9799%203.91C20.0692%204.08996%2020.1429%204.27736%2020.2451%204.50941C19.1396%204.85579%2018.0545%205.19608%2016.9463%205.54382C16.5729%204.82129%2015.962%204.46476%2015.1785%204.34907C13.8092%204.14679%2012.7214%205.06145%2012.7214%206.43277C12.7214%207.3542%2012.7227%208.27564%2012.7241%209.19707C12.7241%209.21871%2012.7315%209.24036%2012.7451%209.31411C13.2471%209.31411%2013.7599%209.31411%2014.2727%209.31411C14.778%209.31411%2015.2827%209.31411%2015.8097%209.31411C15.8097%2010.3735%2015.8097%2011.4107%2015.8097%2012.4735C14.7895%2012.4735%2013.7802%2012.4735%2012.7214%2012.4735C12.7214%2012.6162%2012.7214%2012.7346%2012.7214%2012.853C12.7214%2013.7744%2012.691%2014.6972%2012.7275%2015.6173C12.8276%2018.1502%2011.0734%2020.2055%208.80092%2020.8807C6.06301%2021.6946%203.09035%2020.4159%201.94837%2017.9236C1.8841%2017.7829%201.82998%2017.6367%201.75488%2017.4521C2.87251%2017.103%203.96848%2016.7606%205.05498%2016.4217C5.80525%2017.5414%206.9222%2017.9263%208.04185%2017.4629C8.82662%2017.1381%209.25419%2016.5428%209.2711%2015.6958C9.29208%2014.6411%209.27584%2013.5857%209.27584%2012.4931C8.24143%2012.4924%207.22393%2012.4924%206.17396%2012.4924Z%22%20fill%3D%22%231E1E19%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%22clip0_3193_46362%22%3E%3Crect%20width%3D%2220.25%22%20height%3D%2220.25%22%20fill%3D%22white%22%20transform%3D%22translate(0.875%200.875)%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E")
}

.intro-modal__icon--reminder .icon-reminder:active,
.intro-modal__icon--reminder .icon-reminder.open {
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2222%22%20height%3D%2222%22%20viewBox%3D%220%200%2022%2022%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20clip-path%3D%22url(%23clip0_3193_47089)%22%3E%3Cpath%20d%3D%22M15.1607%2010.7192C15.7303%209.90444%2016.0625%208.91172%2016.0625%207.83594C16.0625%205.0397%2013.7962%202.77344%2011%202.77344C8.20376%202.77344%205.9375%205.0397%205.9375%207.83594C5.9375%208.91172%206.26973%209.90444%206.83926%2010.7192C6.9856%2010.9288%207.15962%2011.1661%207.34551%2011.4192C7.85571%2012.1193%208.46479%2012.9578%208.91963%2013.7844C9.33096%2014.5358%209.54058%2015.3189%209.64341%2016.0585L7.71729%2016.0625C7.63027%2015.5879%207.48394%2015.1251%207.25059%2014.698C6.85903%2013.9861%206.37256%2013.3177%205.88608%2012.6493C5.68042%2012.3685%205.47476%2012.0876%205.277%2011.8029C4.49785%2010.6796%204.03906%209.31118%204.03906%207.83594C4.03906%203.9916%207.15566%200.875%2011%200.875C14.8443%200.875%2017.9609%203.9916%2017.9609%207.83594C17.9609%209.31118%2017.5021%2010.6796%2016.719%2011.8029C16.5213%2012.0876%2016.3156%2012.3685%2016.11%2012.6493C15.6235%2013.3137%2015.137%2013.9821%2014.7455%2014.698C14.5121%2015.1251%2014.3658%2015.5879%2014.2788%2016.0625H12.3566C12.4594%2015.3229%2012.669%2014.5358%2013.0804%2013.7883C13.5352%2012.9617%2014.1443%2012.1232%2014.6545%2011.4232C14.8404%2011.1701%2015.0104%2010.9328%2015.1568%2010.7231L15.1607%2010.7192ZM11%205.9375C9.9519%205.9375%209.10156%206.78784%209.10156%207.83594C9.10156%208.18398%208.8168%208.46875%208.46875%208.46875C8.1207%208.46875%207.83594%208.18398%207.83594%207.83594C7.83594%206.08779%209.25186%204.67188%2011%204.67188C11.348%204.67188%2011.6328%204.95664%2011.6328%205.30469C11.6328%205.65273%2011.348%205.9375%2011%205.9375ZM11%2021.125C9.25186%2021.125%207.83594%2019.7091%207.83594%2017.9609V17.3281H14.1641V17.9609C14.1641%2019.7091%2012.7481%2021.125%2011%2021.125Z%22%20fill%3D%22%231E1E19%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%22clip0_3193_47089%22%3E%3Crect%20width%3D%2220.25%22%20height%3D%2220.25%22%20fill%3D%22white%22%20transform%3D%22translate(0.875%200.875)%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E");
}
.intro-modal__icon--inffits .text-inffits{
  /* Tool tip */
  position: absolute;
  left: 0px;
  top: -48px !important;
  box-sizing: border-box;
  display: flex;
  width: 100px;
  padding: 8px 13px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 7px;
  background: #fff;
  color: #1e1e19;
  box-shadow: 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12), 0px 0px 6px 0px rgba(0, 0, 0, 0.13);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  --webkit-backdrop-filter: blur(12px);
  /* 預設隱藏 */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
}
.intro-modal__icon--reminder .text-reminder {
  /* Tool tip */
  position: absolute;
  right: 0px;
  top: -48px !important;
  box-sizing: border-box;
  display: flex;
  width: 273px;
  padding: 8px 13px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 7px;
  background: rgba(255, 255, 255, 0.18);
  box-shadow: 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12), 0px 0px 6px 0px rgba(0, 0, 0, 0.13);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  --webkit-backdrop-filter: blur(12px);
  /* 預設隱藏 */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
}
@media screen and (min-width: 480px) {
  .intro-modal__icon--reminder .text-reminder {
    background: rgba(59, 59, 50, 0.1);
    /* Tool tip */
    box-shadow: 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12), 0px 0px 6px 0px rgba(0, 0, 0, 0.13);
    top: -80px;
    -webkit-backdrop-filter: blur(12px);
            backdrop-filter: blur(12px);
    --webkit-backdrop-filter: blur(12px);
  }
}
.intro-modal__icon--reminder .text-reminder p {
  color: #f3f3ef;
  font-family: "Chocolate Classical Sans";
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 127.273% */
  letter-spacing: 0.44px;
}
@media screen and (min-width: 480px) {
  .intro-modal__icon--reminder .text-reminder p {
    color: rgba(59, 59, 50, 0.8);
  }
}
.intro-modal__icon--reminder .text-reminder.visible {
  opacity: 1;
  visibility: visible;
}

.container.back {
  box-shadow: none !important;
}

.container.mbinfo.animX {
  background-color: transparent !important;
  box-shadow: none !important;
}

.animFadeIn {
  animation: animFadeIn 1s ease-out;
}

.animFadeOut {
  animation: animFadeOut 5s ease-out;
}

.four-elements .axd_selection {
  box-sizing: border-box !important;
}

.four-elements .image-container {
  padding: 9px 20px !important;
  box-sizing: border-box;
}
.four-elements .image-container > div {
  position: relative;
  padding: 0 !important;
  padding-top: 100% !important;
}
.four-elements .image-container > div img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.image-container {
  border-radius: 10px !important;
  background: #fff !important;
  padding: 8px !important;
  box-sizing: border-box;
  border: 0.5px solid rgba(59, 59, 50, 0.18) !important;
}
@media screen and (min-width: 480px) {
  .image-container {
    border-radius: 12px;
    border: 1px solid #edede9 !important;
    background: #fff;
  }
}
.image-container:hover {
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.05);
  background: #f3f3ef !important;
}
.image-container:active {
  background: #f3f3ef !important;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12) !important;
}
.image-container > div {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  overflow: hidden;
  border-radius: 8px !important;
  border: none;
}
.image-container > div img {
  box-sizing: border-box;
  border: none;
}
.image-container p {
  margin: 0;
  cursor: pointer !important;
  padding-top: 7px;
  color: rgba(59, 59, 50, 0.5);
  text-align: center;
  font-family: "Chocolate Classical Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  /* 141.667% */
  letter-spacing: 1.2px;
}
@media screen and (min-width: 480px) {
  .image-container p {
    color: rgba(51, 51, 51, 0.5);
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.4px;
  }
}

.con-footer {
  position: absolute;
  z-index: 3;
  right: 14px;
  bottom: 8px;
}
@media screen and (min-width: 480px) {
  .con-footer {
    right: 16px;
    bottom: 12px;
  }
}
.con-footer .skip {
  display: block !important;
  width: -moz-fit-content;
  width: fit-content;
  box-sizing: border-box !important;
  cursor: pointer;
  transition: all 500ms ease-out;
  text-decoration: none;
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.88px;
  color: rgba(59, 59, 50, 0.4);
  text-align: center;
}
@media screen and (min-width: 400px) {
  .con-footer .skip {
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 1.04px;
  }
}
.con-footer .skip:hover,
.con-footer .skip:active {
  color: #3b3b32;
  text-underline-offset: 4px;
  text-decoration: underline;
}

.footer {
  height: -moz-fit-content !important;
  height: fit-content !important;
}
.footer #startover {
  display: none;
  color: transparent;
  justify-content: center;
  align-items: center;
  max-width: fit-content !important;
  padding: 0 !important;
  margin: 0 !important;
}
.footer .result-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  padding: 0 14px;
  margin: 0 auto;
  gap:0 10px;
  margin-bottom: 16px;
}
@media screen and (min-width: 480px) {
  .footer #startover {
    display: flex;
  }
  .footer .result-actions {
    padding: 0 24px;
    row-gap: 14px;
    margin-bottom: 26px;
  }
}
.footer .result-actions #recommend-btn {
  border-radius: 100px;
  color: #fcfcf8;
  text-align: center;
  font-family: "Noto Sans TC", "Figtree", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 17px; /* 113.333% */
  letter-spacing: 0.9px;
  flex-grow: 1;
  height: 45px;
  background-color: #2DA2FB;
  box-shadow: none;
  transition: all 300ms ease-out;
}
.footer .result-actions #recommend-btn:hover {
  background-color: #43ADFF;
}
.footer .result-actions #startover .iconContainer--recom {
  background-color: #c4c4c3;
  border-radius: 100px;
  padding: 8px;
  max-width: 40px;
  max-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .result-actions #startover .icon--recom {
  box-shadow: none;
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2225%22%20viewBox%3D%220%200%2024%2025%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M1.94678%204.5V10.5H7.94678%22%20stroke%3D%22white%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3Cpath%20d%3D%22M4.45678%2015.4999C5.10517%2017.3403%206.33411%2018.9201%207.95843%2020.0013C9.58275%2021.0825%2011.5145%2021.6065%2013.4625%2021.4944C15.4105%2021.3823%2017.2694%2020.6401%2018.7589%2019.3797C20.2485%2018.1193%2021.288%2016.4089%2021.721%2014.5063C22.154%2012.6037%2021.9569%2010.6119%2021.1594%208.83105C20.3619%207.05019%2019.0073%205.57674%2017.2996%204.63271C15.5919%203.68868%2013.6237%203.32521%2011.6915%203.59707C9.75923%203.86892%207.96769%204.76137%206.58678%206.13995L1.94678%2010.4999%22%20stroke%3D%22white%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: center;
  transition: all 300ms ease-out;
}

.footer .result-actions #startover:hover .iconContainer--recom {
  background-color: #D7D7D6;
}

.footer .c-recom {
  margin: auto !important;
  margin-right: 12px !important;
  display: flex !important;
  width: -moz-fit-content;
  width: fit-content;
  box-sizing: border-box !important;
  cursor: pointer;
  transition: all 500ms ease-out;
}
.footer #confirm-button_recom.c-recom {
  margin-bottom: 8px !important;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  padding: 4px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Cg clip-path='url(%23clip0_584_3210)'%3E%3Cpath d='M0.973145 2V5H3.97314' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M2.22814 7.49997C2.55234 8.42016 3.16681 9.21006 3.97897 9.75066C4.79113 10.2913 5.75699 10.5533 6.731 10.4972C7.70502 10.4412 8.63443 10.0701 9.37921 9.43985C10.124 8.80965 10.6438 7.95446 10.8603 7.00316C11.0767 6.05185 10.9782 5.05595 10.5795 4.16552C10.1807 3.2751 9.50341 2.53837 8.64956 2.06636C7.79572 1.59434 6.8116 1.41261 5.84548 1.54853C4.87937 1.68446 3.9836 2.13068 3.29314 2.81997L0.973145 4.99997' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_584_3210'%3E%3Crect width='12' height='12' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(59, 59, 50, 0.4);
}
.footer #confirm-button_recom.c-recom:hover, .footer #confirm-button_recom.c-recom:active {
  background-color: rgba(59, 59, 50, 0.8);
}
@media screen and (min-width: 480px) {
  .footer #confirm-button_recom.c-recom {
    display: none !important;
  }
}
.footer img {
  display: block;
}

.c_header {
  padding: 14px 21px !important;
}
@media screen and (min-width: 480px) {
  .c_header {
    padding: 21px 18px !important;
  }
}
.c_header .type_backarrow {
  height: 21px;
  width: 21px;
  padding: 5px;
  box-sizing: border-box;
  background-color: #e8e8e4;
  transition: backgroundColor 300ms ease-out;
}
.c_header .type_backarrow:hover, .c_header .type_backarrow:active {
  background-color: #dadad6;
}
@media screen and (min-width: 480px) {
  .c_header .type_backarrow {
    height: 24px;
    width: 24px;
  }
}
.c_header .header-text span {
  color: #3b3b32;
  text-align: center;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px; /* 118.75% */
  letter-spacing: 0.64px;
  margin-bottom: 0 !important;
  padding-bottom: 5px;
}
@media screen and (min-width: 480px) {
  .c_header .header-text span {
    text-align: center;
    font-family: "Chocolate Classical Sans";
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 117.647% */
    letter-spacing: 1.36px;
    padding-bottom: 7px;
  }
}
.c_header .header-text p {
  color: rgba(59, 59, 50, 0.4);
  text-align: center;
  font-family: "Noto Sans";
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 123.077% */
  letter-spacing: 0.78px;
}
@media screen and (min-width: 480px) {
  .c_header .header-text p {
    font-family: "Chocolate Classical Sans";
    font-size: 15px;
    font-weight: 400;
    line-height: 20px; /* 133.333% */
    letter-spacing: 0.75px;
  }
}

.loading-text {
  color: rgba(59, 59, 50, 0.4);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px; /* 118.75% */
  letter-spacing: 0.96px;
}
@media screen and (min-width: 480px) {
  .loading-text {
    color: #787974;
    text-align: center;
    font-family: "Noto Sans TC", "Figtree", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px; /* 116.667% */
    letter-spacing: 1.08px;
  }
}

@media (max-width: 400px) {
  #container-recom .three-elements .axd_selection {
    width: 37% !important;
    box-sizing: border-box;
  }
}
@media (max-width: 400px) {
  #container-recom .three-elements .axd_selection:first-child {
    margin-left: 45px;
  }
}
@media (max-width: 400px) {
  #container-recom .three-elements .axd_selection:last-child {
    margin-right: 45px;
  }
}

@media screen and (min-width: 480px) {
  #container-recom .axd_selection {
    padding: 12px;
  }
}

#container-recom .axd_selection {
  padding: 0 8px;
  padding-bottom: 8px;
  transform: scale(1);
}
@media screen and (min-width: 480px) {
  #container-recom .axd_selection {
    padding: 0 10px;
  }
  #container-recom .axd_selection img {
    padding-bottom: 8px;
  }
}

#container-recom .axd_selection:hover {
  transform: scale(1) !important;
  opacity: 1 !important;
  transition: opacity 0.3s ease-out;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -ms-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  cursor: pointer !important;
}
@media screen and (min-width: 480px) {
  #container-recom .axd_selection:hover img {
    animation: scaleDown 500ms ease-out both;
    animation-delay: 100ms;
    -webkit-animation: scaleDown 500ms ease-out both;
  }
}

a.update_delete {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  border: 1px solid rgba(59, 59, 50, 0.14);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  /* 縮小動畫 */
}
a.update_delete img {
  aspect-ratio: 2/3;
  box-sizing: border-box;
  padding: 8px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
@media screen and (min-width: 480px) {
  a.update_delete img {
    border-radius: 0;
    padding: 0;
  }
}
a.update_delete p {
  cursor: pointer !important;
  padding: 0;
  margin: 0;
}
a.update_delete .item-title.line-ellipsis-2 {
  color: #333;
  font-family: "Noto Sans TC", "Figtree", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.2px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  line-height: 1.2;
  height: 2.4em;
}
a.update_delete .item-price {
  cursor: pointer !important;
  color: #eb7454;
  font-family: "Noto Sans TC", "Figtree", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
a.update_delete .recom-info {
  padding: 8px;
  cursor: pointer !important;
  padding-top: 0px;
}
a.update_delete .discount-content {
  cursor: pointer !important;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
a.update_delete .discount-content .item-price {
  color: #eb7454;
  font-family: "Noto Sans TC", "Figtree", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
a.update_delete .discount-content .item-price--original {
  color: #3b3b32;
  font-family: "Noto Sans TC", "Figtree", sans-serif;
  font-size: 8px;
  font-style: normal;
  font-weight: 500;
  line-height: 11px;
  opacity: 0.3;
}
@keyframes scaleDown {
  0% {
    padding-bottom: 8px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
  100% {
    padding: 8px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
  }
}
@keyframes animFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes animFadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}/*# sourceMappingURL=iframe_ai_pd_style.css.map */